<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RelayCard16.SerialPortSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SerialControl.SerialControlSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SerialControl.SerialControl" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RCmanager.Properties.SerialControl_PowerSupply" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RCmanager.Properties.SerialControl" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RCmanager.Serial" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RCmanager.Properties.DebugCtrl" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RCmanager.Properties.Debugging" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RCmanager.Debugging" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RelayCard16.SerialPortSettings>
            <setting name="Baudrate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="TimeoutGetData" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>COM24</value>
            </setting>
            <setting name="MaxReplies" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ReadTimeout" serializeAs="String">
                <value>5</value>
            </setting>
        </RelayCard16.SerialPortSettings>
        <SerialControl.SerialControlSettings>
            <setting name="Baudrate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="TimeoutGetData" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="MaxReplies" serializeAs="String">
                <value>3</value>
            </setting>
        </SerialControl.SerialControlSettings>
        <SerialControl.SerialControl>
            <setting name="Baudrate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="TimeoutGetData" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="MaxReplies" serializeAs="String">
                <value>3</value>
            </setting>
        </SerialControl.SerialControl>
        <RCmanager.Properties.SerialControl_PowerSupply>
            <setting name="Baudrate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="TimeoutGetData" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="MaxReplies" serializeAs="String">
                <value>3</value>
            </setting>
        </RCmanager.Properties.SerialControl_PowerSupply>
        <RCmanager.Properties.SerialControl>
            <setting name="Baudrate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="TimeoutGetData" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="MaxReplies" serializeAs="String">
                <value>3</value>
            </setting>
        </RCmanager.Properties.SerialControl>
        <RCmanager.Serial>
            <setting name="Test" serializeAs="String">
                <value>"Hallo"</value>
            </setting>
        </RCmanager.Serial>
        <RCmanager.Properties.DebugCtrl>
            <setting name="DebugOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="DebugFilterAddNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugAddFrameDelimiter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorInfoFG" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorInfoBG" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorWarningFG" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorWarningBG" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="ColorErrorFG" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorErrorBG" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorSendFG" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorSendBG" serializeAs="String">
                <value>255, 216, 0</value>
            </setting>
            <setting name="ColorReceiveFG" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorReceiveBG" serializeAs="String">
                <value>255, 106, 0</value>
            </setting>
            <setting name="ListBoxWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ListBoxWidthDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InitCode" serializeAs="String">
                <value>1437226410</value>
            </setting>
            <setting name="AddTimeStamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddProjectsName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddApplication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Application" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectFile" serializeAs="String">
              <value>"Debug.prj"</value>
            </setting>
        </RCmanager.Properties.DebugCtrl>
        <RCmanager.Properties.Debugging>
            <setting name="ColorInfoFG" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorInfoBG" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorWarningFG" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorWarningBG" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="ColorErrorFG" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorErrorBG" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorSendFG" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorSendBG" serializeAs="String">
                <value>255, 216, 0</value>
            </setting>
            <setting name="ColorReceiveFG" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorReceiveBG" serializeAs="String">
                <value>255, 106, 0</value>
            </setting>
        </RCmanager.Properties.Debugging>
        <RCmanager.Debugging>
            <setting name="DebugOn" serializeAs="String">
                <value>False</value>
            </setting>
        </RCmanager.Debugging>
    </userSettings>
</configuration>