<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RCmanager.Properties.UserMonitoringSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RCmanager.Properties.MonitoringSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RCmanager.Properties.SerialSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RCmanager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RCmanager.Properties.UserMonitoringSettings>
            <setting name="InitCode" serializeAs="String">
                <value>0</value>
            </setting>
        </RCmanager.Properties.UserMonitoringSettings>
        <RCmanager.Properties.MonitoringSettings>
            <setting name="InitCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Test" serializeAs="String">
                <value>False</value>
            </setting>
        </RCmanager.Properties.MonitoringSettings>
        <RCmanager.Properties.SerialSettings>
            <setting name="InitCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Baudrate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="Databits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Stopbits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="TimeoutGetData_ms" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TimeoutSetData_ms" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MaxReplies" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Bitmap" serializeAs="String">
                <value />
            </setting>
            <setting name="UseDelimiters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartDelimiter" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EndDelimiter" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UseChecksum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChecksumType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TaskTiming_ms" serializeAs="String">
                <value>10</value>
            </setting>
        </RCmanager.Properties.SerialSettings>
        <RCmanager.Properties.Settings>
            <setting name="InitCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NightMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="BackColor_NM" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SetupSerialDlg_SmallVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TriggerLabel" serializeAs="String">
                <value />
            </setting>
        </RCmanager.Properties.Settings>
    </userSettings>
</configuration>